In [1]:
import experiment as exp
import mattplotlib as mplt

Invoking __init__.py for NDNT.utils

In [2]:
e = exp.load(expname='exp_NIM', experiment_location='experiments')

In [7]:
e.trials_by_param(union=True, expt='expt04', name='NIM_expt04')

expt=='expt04'|name=='NIM_expt04'

,expt,name,trial
0,expt04,NIM_expt04+expt05,<experiment.Trial object at 0x7fc84189bd90>
0,expt04,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
0,expt04,NIM_expt04+expt05+expt06,<experiment.Trial object at 0x7fc839002430>
0,expt04,NIM_expt04,<experiment.Trial object at 0x7fc839002220>

In [4]:
e.trials.query("expt == 'expt04'")

,expt,name,trial
0,expt04,NIM_expt04+expt05,<experiment.Trial object at 0x7fc84189bd90>
0,expt04,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
0,expt04,NIM_expt04+expt05+expt06,<experiment.Trial object at 0x7fc839002430>
0,expt04,NIM_expt04,<experiment.Trial object at 0x7fc839002220>

In [5]:
e.trials

,expt,name,trial
0,expt04,NIM_expt04+expt05,<experiment.Trial object at 0x7fc84189bd90>
1,expt05,NIM_expt04+expt05,<experiment.Trial object at 0x7fc84189bd90>
0,expt04,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
1,expt05,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
2,expt06,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
3,expt07,NIM_expt04+expt05+expt06+expt07,<experiment.Trial object at 0x7fc83908ca90>
0,expt04,NIM_expt04+expt05+expt06,<experiment.Trial object at 0x7fc839002430>
1,expt05,NIM_expt04+expt05+expt06,<experiment.Trial object at 0x7fc839002430>
2,expt06,NIM_expt04+expt05+expt06,<experiment.Trial object at 0x7fc839002430>
0,expt04,NIM_expt04,<experiment.Trial object at 0x7fc839002220>

In [6]:
mplt.lightmode()
e.plot_LLs(trials=['NIM_expt04', 'NIM_expt04+expt05', 'NIM_expt04+expt05+expt06', 'NIM_expt04+expt05+expt06+expt07'], figsize=(20,5))

AttributeError: 'str' object has no attribute 'trial_info'

In [ ]:
e.plot_losses()

In [ ]:
e.trials